@model SmartLibraryWeb.ViewModel.UserLoginViewModel
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V10</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-t-50 p-b-90">

                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "Login_Form" }))
                {

                    <span class="login100-form-title p-b-51">
                        Login
                    </span>


                    <div class="wrap-input100 validate-input m-b-16" data-validate="Username is required">
                        @Html.TextBoxFor(model => model.UserName, new { placeholder = "Username", maxlength = 50, @class = "input100" })
                        @Html.ValidationMessageFor(model => model.UserName)

                        <span class="focus-input100"></span>
                    </div>


                    <div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
                        @Html.PasswordFor(model => model.Password, new { placeholder = "Password", maxlength = 20, @class = "input100" })
                        @Html.ValidationMessageFor(model => model.Password)

                        <span class="focus-input100"></span>
                    </div>

                    <div class="flex-sb-m w-full p-t-3 p-b-24">
                        <div class="contact100-form-checkbox">
                            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                            <label class="label-checkbox100" for="ckb1">
                                Remember me
                            </label>
                        </div>

                        <div>
                            <a href="#" class="txt1">
                                Forgot?
                            </a>
                        </div>
                    </div>

                    <div class="container-login100-form-btn m-t-17">
                        <div id="LoginFailureMessage" style="color:indianred"> @ViewData["LoginFailureMessage"]</div>
                        <button class="login100-form-btn">
                            Login
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/main.js"></script>
</body>
</html>